<h1>Projects</h1>

<%= link_to "New Project", new_project_path, class: "btn btn-primary mb-3" %>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= project.name %></h5>
          <p class="card-text"><%= truncate(project.description, length: 100) %></p>
          <%= link_to "View", project, class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Edit", edit_project_path(project), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to "Delete", project, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>