<h1>Workers for <%= @project.name %></h1>

<%= link_to "Add Worker", new_project_worker_path(@project), class: "btn btn-secondary mb-3" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Phone Number</th>
      <th>Estimated Labor Value</th>
      <th>Paid Value</th>
      <th>Material Value</th>
      <th>Worked Hours</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.position %></td>
        <td><%= worker.phone_number %></td>
        <td><%= number_to_currency(worker.estimated_labor_value) %></td>
        <td><%= number_to_currency(worker.paid_value) %></td>
        <td><%= number_to_currency(worker.construction_material_value) %></td>
        <td><%= worker.worked_hours %></td>
        <td>
          <div class="d-flex justify">
          <%= link_to "View", project_worker_path(@project, worker), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to "Edit", edit_project_worker_path(@project, worker), class: "btn btn-sm btn-outline-primary" %>
          <%= button_to "Delete", project_worker_path(@project, worker), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<footer class="site-footer" style="margin-bottom: 100px;">
  <%= link_to 'Back', project_path(@project), class: 'btn btn-secondary' %>
</footer>