<h1>Materials for <%= @project.name %></h1>

<%= link_to "Add Material", new_project_material_path(@project), class: "btn btn-primary mb-3" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Store</th>
      <th>Estimated Value</th>
      <th>Paid Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= material.store %></td>
        <td><%= number_to_currency(material.estimated_value) %></td>
        <td><%= number_to_currency(material.paid_value) %></td>
        <td>
          <%= link_to "View", project_material_path(@project, material), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Edit", edit_project_material_path(@project, material), class: "btn btn-sm btn-outline-secondary" %>
          <%= button_to "Delete", project_material_path(@project, material), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>